.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.navbar_logo {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar_logo h2{
    font-weight: 600;
}