
.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    border: 1px solid #EDF5FE;
    padding: 62px 33px;
    border-radius: 11px;
    width: 40vw;

}

.header {
    display: flex;
    font-size: small;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #707070;
    align-items: center;
    justify-content: space-between;
}

.header img {
    padding-right: 5px;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    font-weight: 600;
    font-size: larger;
    width: 100%;
}


.checklist {
    width: 100%;
    max-height: 34vh; 
    overflow-y: auto;
}


.input_span {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1cap;
}



.input_text_container {
    width: 100%;
    display: flex;
}

.input_text_container p {
  margin: 0;
  padding-left: calc(1.4rem + 1.5rem);
  width: 100%;
  border: 1px solid #D0D0D0;
  padding-top: 12px ;
  padding-bottom: 12px ;
  border-radius: 10px;
  font-size: large;
  outline: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  cursor: default;
}

.input_checkbox_container{
    position: absolute;
    left: 0px;
}

.input_checkbox_container input[type="checkbox"] {
    width: 1.4rem;
    margin-left: 1rem;
    appearance: none;
    border-radius: 6px;
    vertical-align: middle;
    outline: none;
    background: url('../../assets/icons/tick.svg') center center no-repeat;
    background-size: 60%;
    cursor: default;
  }

.input_checkbox_container input[type="checkbox"]:checked {
    color: #ffffff;
    background-color: #17A2B8;
    outline: none;
    border: none;
}
.input_checkbox_container input[type="checkbox"]::after {
    display: block;
    font-family: sans-serif;
    font-weight: 600;
    position: absolute;
    top: 0;
    transform: translate(-40%, -5%);
    color: rgb(242, 242, 242);
  }

  .due_date {
    font-size: small;
  }

  .checklist_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

  }

  .checklist_count{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 2px;
  }

  .checklist_count p {
    font-family: "Inter", sans-serif;
    margin: 0;
  } 

  .checklist_header span:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
  }
.due_date_container{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: medium;
}

  .due_date_overdue {
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: small;
    outline: none;
    border: none;
    background-color: #CF3636;
    color: white;
  }
 



  @media only screen and (max-width: 1500px) {
    .container {
      width: 70vw; 
      height: auto; 
    }
  }

  @media only screen and (max-width: 768px) {
    .container {
      width: 400px; 
      height: auto; 
    }
  }
  
  @media only screen and (max-width: 500px) {
    .container {
      width: 90vw;
      height: auto; 
    }

    .title{
      font-size: medium;
    }
    .checklist p {
      font-size: small;
    }
    .due_date_container {
      font-size: small;
    }
  }