.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 0px;
    overflow: hidden;
    height: 100vh;
    }
    
    .header { 
        grid-area: 1 / 1 / 1 / 6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
        font-size: clamp(12px, 1vw, 2rem);
     }
     .header :last-child {
        color: #707070;
        font-size: x-large;
     }

     .header h2 {
        font-weight: 600;
     }
    .sub_header { 
        grid-area: 2 / 1 / 2 / 6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
     }
     .sub_header h1 {
        font-weight: 500;
     }

     
    .kanban_container { 
        grid-area: 3 / 1 / 11 / 6;
       display: grid;
       flex: 1;
       grid-template-columns: repeat(4, 1fr);
       overflow-x: scroll;
    }

    .section_title {
        font-weight: 600;
        font-size: large;
    }
    .backlog, .todo, .inprogress, .done {
        background-color: #EEF2F5;
        margin-bottom: 1rem;
        margin-right: 1rem;
        border-radius: 12px;
        padding: 12px;
        overflow: hidden;
        width: 22vw;

     
    }
    .card_content_container {
        height: 69vh;
        overflow-y: auto;
        padding: 0px 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;

    }



    .kanban_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* font-size: large; */
        font-weight: bold;
        background-color: #EEF2F5;
        position: sticky;
        top: 0;
        
    }

    .kanban_title_right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .kanban_title_right img {
        cursor: pointer;
        filter: contrast(10);
    }

    .filter_menu {
        display: flex; 
        align-items: center;
        justify-content: center;
        color: black;
        font-size: medium;
        transform: translateY(-25%);
        cursor: pointer;
        position: relative;
        z-index: 1;
      }

      .menu_select{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .menu_select p{
        margin-left: 4px;
        transform: rotate(180deg);
        font-size: small;
      }

      .filter_menu_option {
        background-color: white;
        right: 10px;
        top: 32px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2rem;
        font-size: medium;
        border-radius: 10px;
        font-weight: normal;
        width: 140px;
        padding: 12px 24px;
        -webkit-box-shadow: 0px 0px 37px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 37px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 16px -10px rgba(0,0,0,0.75);
      }

     