.container {
    height: 100vh;
    flex: 1;

}

.inner_container {
    display: flex;
    height: auto;
    /*might change later according to figma */
    width: 50vh;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;

}

.form_container {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_span {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.single_icon {
    position: absolute;
    padding: 4px;
    width: 8%;
}

.icon_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_group img:first-child {
    position: absolute;
    left: 4px;
    width: 6%;
}

.icon_group img:last-child {
    position: absolute;
    right: 4px;
    width: 6%;
    cursor: pointer;
}

.button_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.button_group p {
    color: #828282;
}


.input_span input {
    padding-left: calc(4px + 1.8rem);
}

.primary_button {

    background-color: #17A2B8;
    color: white;
    border: none;
    outline: none;
    font-size: large;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border-radius: 55px;

}

.inner_container p {
    color: red;
    margin: 0;
    padding: 0;
    align-self: self-start;
    font-size: small;
    line-height: 0;
}