.container {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #17A2B8;
}
.img_group{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20vw;
    max-height: 40vh;
}

.img_group img {
    height: auto;
}
.img_group img:first-child {
    position: absolute;
    transform: translate(3%, -10%);
    
}

.img_group img:last-child {
    position: relative;
}

.welcome_message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 1rem;
}

.welcome_message h6{
    margin: 0;
    font-size: medium;
    font-weight: 500;
}

.welcome_message h2{
    margin: 0;
    font-size: x-large;
    font-weight: 600;
}